<div class="">
  <h1>Saison <%= @season.number %></h1>
  <section class="row">
    <div class="col-sm-4">
      <%= cl_image_tag(@season.photo, width: 199, height: 279,
                                      crop: :fill) %>
    </div>
    <div class="col-sm-8 containerEpisode">

      <% @episodes.each do |episode| %>
      <div class="episode">
          <div>
            <p class="episodeNumber">
              <%= link_to("S"+@season.number.to_s + "xE" + episode.number.to_s + " " + episode.name, episode_path(episode.id)) %> <br />Diffusion : <%= episode.diffusion %>
               <br />

            </p>
          </div>
      </div>
      <% end %>
    </div>
  </section>
</div>
