<div class="">
  <h1>Saison <%=  %></h1>
  <section class="row">
    <div class="col-sm-4">
      <%=  %>
    </div>
    <div class="col-sm-8 containerEpisode">

      <% @bookmarks.each do |bookmark| %>
      <div class="bookmark">
        <%= bookmark.serie.name %>
      </div>
      <% end %>
    </div>
  </section>
</div>
